<body>
  <div class="card">
    <div class="card-body">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/admin" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/admin/viewVenues" routerLinkActive="router-link-active">Venues</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Venue Details</li>
    </ol>
  </nav>
</div>
<div class="container">
  <h4 class="text-center">Venue Details</h4>
  
    <table class="table">
      <!-- Venue Name -->
      <tr>
        <td class="form-label">Venue Name</td>
        <td class="tc2">
        {{venue.venueName}}
        </td>
      </tr>
      
      <!-- Venue Place -->
      <tr>
        <td  class="form-label">Venue Place</td>
        <td class="tc2">
         {{venue.venuePlace}}
         </td>
      </tr>
     

      <!-- Venue Contact -->
      <tr>
        <td  class="form-label">Venue Contact</td>
        <td class="tc2">
         {{venue.venueContact}}
         </td>
      </tr>
     

      <!-- Venue Image -->
      <tr>
        <td  class="form-label">Venue Image</td>
        <td class="tc2">
          <img [src]="'assets/images/'+getImageFileName(venue.imagePath)" alt="{{ venue.venueName }}" style="width: 100px; height: auto;">
        </td>
      </tr>
      
    </table>
  <div class="mt-3 mb-3 tabs text-center ps-3">
    <button [routerLink]="'events/' + venue.venueId"  class="btn btn-primary btn-style-light btn-lg me-2">EVENTS</button>
    <button [routerLink]="'foodItems/' + venue.venueId"  class="btn btn-primary btn-style-light btn-lg me-2">FOOD ITEMS</button>
    <button [routerLink]="'equipments/' + venue.venueId"  class="btn btn-primary btn-style-light btn-lg">EQUIPMENTS</button>
  </div>
  <router-outlet></router-outlet>
</div>
</div>
</body>