
<body>

    <!--body-wraper-are-start-->
    <div class="wrapper home-parallax">

        <!--slider header area are start-->
        <div class="header-slider-area" id="home">
            <!--header start-->
           <app-header></app-header>
            <!-- header End-->

            <!--slider area are start-->
            <div class="slider-container bg-overlay video-slide">
                <!--ready to paly area start-->
                <div class="ready-to-play ready-to-play-2 text-center">
                    <div class="full-width-video">
                        <video src="../../assets/Frontoffice/video/library.mp4" id="video-bg-2" class="stopfade" poster="../../assets/Frontoffice/video/video-poster.jpg"
                            autoplay loop muted></video>
                    </div>
                    <div class="container">
                        <div class="slide1-text video-slider-text">
                            <div class="middle-text slide-def">
                                <div class="cap-dec wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                                    <p>Djerba</p>
                                </div>
                                <div class="cap-title wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                                    <h1>Biggest Designers Meet Up</h1>
                                </div>
                                <div class="date-address wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">
                                    <div class="event-date"> <i class="zmdi zmdi-calendar-note"></i>Sep 13, 2024 </div>
                                    <div class="event-location"> <i class="zmdi zmdi-pin"></i>1080 Layman Court, Tunisia</div>
                                </div>
                                <div class="slider-btn wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s"> <a
                                        class="btn-def" href="#">Participate</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ready to paly area end-->
            </div>
            <!--slider area are End-->
            <div class="down-arrow"> <a class="see-demo-btn" href="#upcoming"><i
                        class="zmdi zmdi-long-arrow-down"></i></a> </div>
        </div>
        <!--slider header area are end-->

     

         <!--up comming events area-->
       <app-events-list>                                                                                                                                                                     </app-events-list>
        <!--up comming events area-->

     
        <!--all-apps-area start-->
        <div class="all-apps-area ptb100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="apps-cont">
                            <div class="left-app">
                                <img src="../../assets/Frontoffice/img/mobile.png" alt="">
                            </div>
                            <div class="right-app">
                                <h1 class="uppercase" class="white-text" >Get All Update by Apps</h1>
                                <p class="white-text">It is a long established fact that a reader will be distracted by theIpsum is that it
                                    has using It is a long established fact that a reader will be distracted.</p>
                                <div class="app-store">
                                    <a href="#"><img src="../../assets/Frontoffice/img/icon/google-play.png" alt=""></a>
                                    <a href="#"><img src="../../assets/Frontoffice/img/icon/apple-store.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--all-apps-area end-->

        <!--ready to paly area start-->
        <div class="ready-to-play text-center">
            <div class="full-width-video">
                <video loop src="../../assets/Frontoffice/video/library.mp4" id="video-bg" class="stopfade"></video>
            </div>
            <div class="video-text">
                <div class="tb-t">
                    <div class="tb-c">
                        <h4 class="uppercase">Ongoing events</h4>
                        <h1 class="uppercase">Play online, all events</h1>
                        <div id="polina">
                            <button><i class='zmdi zmdi-play-circle-outline'></i></button>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--ready to paly area end-->

    
        <!-- speacial offer are start  -->
        <div class="special-offer-area parallex-fixed ptb100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="special-wrap">
                            <h1 class="section-title white-color">special offer</h1>
                            <h4 class="uppercase white-color">Buy One Get One free</h4>
                            <p class="white-color">It is a long established fact that a reader will be distracted by the
                                readable content of a page when looking at its layout. The point of using.</p>
                            <a href="#" class="btn-def bnt-3 red-color">Participate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- speacial offer are end  -->


        <!--Counter area start-->
        <div class="counter-area pt100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-01.png" alt="">
                            </div>
                            <h3><span class="counter2">50</span></h3>
                            <p>+ Events</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-02.png" alt="">
                            </div>
                            <h3><span class="counter2">19</span></h3>
                            <p>+ Location</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-03.png" alt="">
                            </div>
                            <h3><span class="counter2">12</span></h3>
                            <p>+ Newtwork</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-04.png" alt="">
                            </div>
                            <h3><span class="counter2">90</span></h3>
                            <p>+ Countries</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-05.png" alt="">
                            </div>
                            <h3><span class="counter2">5</span></h3>
                            <p>Live Telecast</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="single-count text-center uppercase">
                            <div class="count-icon">
                                <img src="../../assets/Frontoffice/img/icon/count-06.png" alt="">
                            </div>
                            <h3><span class="counter2">200</span></h3>
                            <p>+Idea</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Counter area end-->


        <!--call to action area start-->
        <div class="call-to-action bg-overlay white-overlay pb100 pt85">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cal-to-wrap">
                            <h1 class="section-title">Enter Your Email Address For Events & News</h1>
                            <form action="#">
                                <div class="input-box">
                                    <input type="email" placeholder="Enter your E-mail Address" class="info"
                                        name="email">
                                    <button class="send-btn"><i class="zmdi zmdi-mail-send"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--call to action area End-->

        <!--map area start-->
        <div id="contact" class="map-area mt100">
            <iframe class="contact-map-size"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1613802584124!5m2!1sen!2sbd"
                allowfullscreen="" loading="lazy">
            </iframe>
            <div class="map-content">
                <div class="content-body">
                    <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                        <div class="input-box">
                            <input type="text" placeholder="Name" class="info" name="con_name">
                            <input type="email" placeholder="E-mail*" class="info" name="con_email">
                            <input type="text" placeholder="Title" class="info" name="con_subject">
                            <textarea class="area-text" placeholder="Message" name="con_message"></textarea>
                        </div>
                        <p class="form-message"></p>
                        <div class="input-box upload-box">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--map area end-->

        <!--information area are start-->
        <div class="information-area off-white ptb100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="single-information text-center">
                            <div class="info-icon">
                                <i class="zmdi zmdi-phone"></i>
                            </div>
                            <h4>Phone</h4>
                            <p>+ (0192) 5184203</p>
                            <p>+ (0185) 0950555</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-information text-center">
                            <div class="info-icon">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <h4>E-Mail</h4>
                            <p><a href="mailto:company@email.com">companyemail.com</a></p>
                            <p><a href="mailto:we@company.info">wecompany.info</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-information text-center">
                            <div class="info-icon">
                                <i class="zmdi zmdi-city-alt"></i>
                            </div>
                            <h4>1st Venue</h4>
                            <p>555 / 2A Sevent Streth</p>
                            <p>Rampura, Bansree.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-information text-center">
                            <div class="info-icon">
                                <i class="zmdi zmdi-city"></i>
                            </div>
                            <h4>1st Venue</h4>
                            <p>689 / 2B Sevent Streth</p>
                            <p>Rampura, Bansree.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--information area are start-->

        <!--footer area are start-->
       <app-footer></app-footer>
        <!--footer area are start-->
    </div>
    <!--body-wraper-are-end-->

</body>
