
<body>
    <div class="app app-auth-reset-pwd align-content-stretch d-flex flex-wrap justify-content-end">
        <div class="app-auth-background">

        </div>
        <div class="app-auth-container">
            <div class="logo">
                <a href="index.html">EVENTFLOW</a>
            </div>
            <p class="auth-description">Reset Password</p>
            <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
               
            <div class="auth-credentials m-b-xxl">
                <label for="signInEmail" class="form-label">Email</label>
                <input class="form-control m-b-md" type="email" placeholder="Enter your email" [(ngModel)]="userEmail" name="userEmail" required readonly>
                

                  <label for="signInCode" class="form-label">Verification Code</label>
                  <input class="form-control" type="text" placeholder="Enter your code" [(ngModel)]="userCode" name="userCode" required #codeInput="ngModel">
                  <div *ngIf="codeInput.invalid && (codeInput.dirty || codeInput.touched)" class="uk-alert-danger">
                    <div *ngIf="codeInput.errors && codeInput.errors['required']" class="form-text-error"> Verification Code is required.</div>
                  </div>

                <label for="signInPassword" class="form-label">Password</label>
                <input class="form-control" type="password" placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword" required #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="uk-alert-danger">
                    <div *ngIf="passwordInput.errors && passwordInput.errors['required']" class="form-text-error" >New Password is required.</div>
                  </div>

                  <label for="confirmPassword" class="form-label">Confirm Password</label>
<input class="form-control" type="password" placeholder="Confirm new password" [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordInput="ngModel">
<div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="uk-alert-danger">
    <div *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['required']" class="form-text-error">Confirm Password is required.</div>
</div>
<div *ngIf="passwordsDoNotMatch && !passwordsMatch" class="form-text-error">Passwords do not match. Please retype your password.</div>
<div *ngIf="passwordsMatch && !passwordsDoNotMatch" class="form-text-success" >Passwords match.</div>

                
            
            </div>
           
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [(ngModel)]="captchaResponse" name="recaptcha" required></ngx-recaptcha2>
                <div *ngIf="resetPasswordForm.form.hasError('required', 'recaptcha')"></div>
              <p></p>
            <div class="auth-submit">
                <button class="btn btn-primary" type="submit" [disabled]="resetPasswordForm.form.invalid">Reset Password</button>
                
            </div>
        </form>
            <div class="divider"></div>
            <div class="auth-alts">
                <a href="#" class="auth-alts-google"></a>
                <a href="#" class="auth-alts-facebook"></a>
                <a href="#" class="auth-alts-twitter"></a>
            </div>
        </div>
    </div>
    

</body>
