
<body>
    <div class="app app-auth-reset-pwd align-content-stretch d-flex flex-wrap justify-content-end">
        <div class="app-auth-background">

        </div>
        <div class="app-auth-container">
            <div class="logo">
                 <!-- Add this line for the back arrow -->
            <a href="#" onclick="window.history.back();" class="back-arrow">&#8592;</a>
                <a href="index.html">EVENTFLOW</a>
            </div>
            <p class="auth-description">Reset Password</p>
            <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
               
            <div class="auth-credentials m-b-xxl">
                <div class="form-group form-group-inline">
                    <div class="form-field">
                        <label for="signInEmail" class="form-label">Email</label>
                        <input class="form-control m-b-md" type="email" [(ngModel)]="userEmail" name="userEmail" required readonly>
                    </div>
                    <div class="form-field">
                        <label for="signInCode" class="form-label">Verification Code</label>
                        <input class="form-control" type="text" placeholder="Enter your code" [(ngModel)]="userCode" name="userCode" required #codeInput="ngModel">
                        <div *ngIf="codeInput.invalid && (codeInput.dirty || codeInput.touched)" class="uk-alert-danger">
                            <div *ngIf="codeInput.errors && codeInput.errors['required']" class="form-text-error" class="red-message">Verification Code is required.</div>
                        </div>
                    </div>
                </div>

                  <div class="form-group form-group-inline">
                    <div class="form-field">
                        <label for="signInPassword" class="form-label">Password</label>
                        <input class="form-control" type="password" placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword" required #passwordInput="ngModel">
                        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="uk-alert-danger">
                            <div *ngIf="passwordInput.errors && passwordInput.errors['required']" class="form-text-error" class="red-message">New Password is required.</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Confirm new password" [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordInput="ngModel">
                        <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)" class="uk-alert-danger">
                            <div *ngIf="confirmPasswordInput.errors && confirmPasswordInput.errors['required']" class="form-text-error" class="red-message">Confirm Password is required.</div>
                        </div>
                        <div *ngIf="passwordsDoNotMatch && !passwordsMatch" class="form-text-error" class="red-message">Passwords do not match. Please retype your password.</div>
                        <div *ngIf="passwordsMatch && !passwordsDoNotMatch" class="form-text-success" class="success-message">Passwords match.</div>
                    </div>
                </div>  
            
            </div>
           
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [(ngModel)]="captchaResponse" name="recaptcha" required></ngx-recaptcha2>
                <div *ngIf="resetPasswordForm.form.hasError('required', 'recaptcha')" class="red-message"></div>
              <p></p>
              <p></p>
              
            <div class="auth-submit">
                <button class="btn btn-primary" type="submit" [disabled]="resetPasswordForm.form.invalid">Reset Password</button>
                
            </div>
        </form>
            
        </div>
    </div>
    

</body>
