<div class="header-area">
   <app-top-header></app-top-header>
    <!--logo menu area start-->
    <div id="sticker" class="logo-menu-area header-area-2">
        <div class="container d-none d-md-block">
            <div class="row">
                <div class="col-lg-3 col-md-2">
                    <div class="logo">
                        <a href="/home"><img src="../../assets/Frontoffice/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-10">
                    <div class="main-menu text-end">
                        <nav>
                            <ul id="nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about-event">About</a></li>
                                <li><a href="#happen">Happen</a></li>
                                <li><a href="#speakers">Speakers</a></li>
                                <li><a href="#news">News</a></li>
                                <li><a href="event-schedule.html">Schedule</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="logo-02">
                    <a href="index.html"><img src="../../assets/Frontoffice/img/logo-02.png" alt=""></a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about-event">About</a></li>
                                <li><a href="#happen">Happen</a></li>
                                <li><a href="#speakers">Speakers</a></li>
                                <li><a href="#news">News</a></li>
                                <li><a href="event-schedule.html">Schedule</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--mobile menu area end-->
    </div>
    <!--logo menu area start-->
</div>