<div class="bread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organizers</li>
        </ol>
    </nav>
</div>

<div class="container page">
    <h4 class="text-center">ORGANIZERS</h4>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr class="text-center">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let organizer of organizers">
                <td>{{organizer.userName}}</td>
                <td>{{organizer.userFirstName}} {{organizer.userLastName}}</td>
                <td>{{organizer.userEmail}}</td>
                <td>
                    <a [routerLink]="'/admin/profile/' + organizer.userName" class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
