
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
</div>

<div class="row">
    
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <a href="/user/viewVenues" class="no-underline">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title"> AVAILABLE VENUES</span>
                            <span class="widget-stats-amount">{{numVenue}}</span>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
   

        <div class="col-xl-4" >
            <div class="card widget widget-stats">
                <div class="card-body">
                    <a href="/user/bookingHistory" class="no-underline">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-warning">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title"> TOTAL BOOKINGS</span>
                            <span class="widget-stats-amount">{{numBookings}}</span>
                        </div>
                    
                    </div>
                </a>
                </div>
            </div>
        </div>
   
        <div class="col-xl-4" >
            <div class="card widget widget-stats">
                <div class="card-body">
                    <a href="/user/notifications" class="no-underline">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-danger" >
                            <i class="fa fa-bell" ></i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">NOTIFICATIONS</span>
                            <span class="widget-stats-amount">{{numNoti}}</span>
                        </div>
                        
                    </div>
                </a>
                </div>
            </div>
        </div>
       
</div>



