.breadcrumb {
    background-color: #e1e2e2;
    color: #6c757d;
    margin-bottom: 1rem;
  }

  .container {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .text-center {
    text-align: center;
  }

  .input-group-text {
    width: 150px;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  .d-grid {
    display: grid;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .text-danger {
    color: #dc3545;
  }

  .text-end {
    text-align: end;
  }

  h5 {
    margin-top: 1rem;
  }

.example-custom-date-class {
  background-color: red;
  border-radius: 50%;
}
.reserved-date .mat-calendar-body-cell-content {
  background-color: red !important;
  color: white !important;
}
::ng-deep .reserved-date .ngb-dp-day {
  background-color: red !important;
  color: white !important;
}
/* Add a class to highlight reserved dates */
.reserved-date {
  background-color: red;
  color: white;
}
