<div class="app-content">
  <div class="content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="card todo-container">
                      <div class="row">
                          <div class="col-xl-4 col-xxl-3">
                              <div class="todo-menu">
                                  <h5 class="todo-menu-title">Status</h5>
                                  <ul class="list-unstyled todo-status-filter">
                                      <li>
                                          <a  [ngClass]="{'active': filteredTasks.length === tasks.length}" (click)="filterTasks('all')">
                                              <i class="material-icons-outlined">format_list_bulleted</i>All
                                          </a>
                                      </li>
                                      <li>
                                          <a  [ngClass]="{'active': showNewTaskForm}" (click)="filterTasks('todo')">
                                              <i class="material-icons-outlined">done</i>To Do
                                          </a>
                                      </li>
                                      <li>
                                          <a  (click)="filterTasks('inprogress')">
                                              <i class="material-icons-outlined">pending</i>In Progress
                                          </a>
                                      </li>
                                      <li>
                                          <a  (click)="filterTasks('completed')">
                                              <i class="material-icons-outlined">delete</i>Completed
                                          </a>
                                      </li>
                                  </ul>
                                  <a  class="btn btn-primary d-block m-b-lg" (click)="showNewTaskForm = true">Create new</a>
                                  
                                  <h5 class="todo-menu-title">Search</h5>
                                  <!-- <input type="text" class="form-control form-control-solid m-b-lg" placeholder="Type here.." [(ngModel)]="searchTerm"> -->

                              </div>
                          </div>
                          <div class="col-xl-8 col-xxl-9">
                              <div class="todo-list">
                                  <ul class="list-unstyled">
                                      <li *ngIf="showNewTaskForm" class="todo-item">
                                          <div class="todo-item-content">
                                              <input type="text" [(ngModel)]="newTask.title" placeholder="Task Title" class="form-control mb-2">
                                              <input type="text" [(ngModel)]="newTask.description" placeholder="Task Description" class="form-control mb-2">
                                              <a  class="btn btn-primary" (click)="createNewTask()">Create New Task</a>
                                          </div>
                                      </li>
                                      <li *ngFor="let task of filteredTasks" class="todo-item">
                                          <div class="todo-item-content">
                                              <span class="todo-item-title">{{ task.title }}
                                                  <span class="badge badge-style-light rounded-pill badge-warning" *ngIf="task.status === 'todo'">To Do</span>
                                                  <span class="badge badge-style-light rounded-pill badge-primary" *ngIf="task.status === 'inprogress'">In Progress</span>
                                                  <span class="badge badge-style-light rounded-pill badge-success" *ngIf="task.status === 'completed'">Completed</span>
                                              </span>
                                              <span class="todo-item-subtitle">{{ task.description }}</span>
                                          </div>
                                          <div class="todo-item-actions">
                                              <a  (click)="changeStatus(task, 'completed')" *ngIf="task.status !== 'completed'"><i class="material-icons-outlined no-m">done</i></a>
                                              <a  (click)="changeStatus(task, 'inprogress')" *ngIf="task.status === 'todo'"><i class="material-icons-outlined no-m">pending</i></a>
                                              <!-- <a (click)="removeTask(task)"><i class="material-icons-outlined no-m">close</i></a> -->
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
