<div class="upcomming-events-area off-white ptb100" id="upcoming">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Up Comming Events</h1>
                <div class="total-upcomming-event">
                    <div class="single-upcomming shadow-box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="sue-pic">
                                    <img src="../../assets/Frontoffice/img/event/sue-01.png" alt="">
                                </div>
                                <div class="sue-date-time text-center">
                                    <span>26 Mar <br> 2021</span>
                                    <span>09.10 pm</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5">
                                <div class="uc-event-title">
                                    <div class="uc-icon"><i class="zmdi zmdi-globe-alt"></i></div>
                                    <a href="/eventdetails">Update Design & Ux Support</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="venu-no">
                                    <p>Vanue : Hall No 2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="upcomming-ticket text-center">
                                    <a href="#" class="btn-def bnt-2 small">Participate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-upcomming shadow-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sue-pic">
                                    <img src="../../assets/Frontoffice/img/event/sue-02.png" alt="">
                                </div>
                                <div class="sue-date-time text-center">
                                    <span>25 Mar <br> 2021</span>
                                    <span>09.10 pm</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5">
                                <div class="uc-event-title">
                                    <div class="uc-icon"><i class="zmdi zmdi-globe-alt"></i></div>
                                    <a href="#">Update Design & Ux Support</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="venu-no">
                                    <p>Vanue : Hall No 2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="upcomming-ticket text-center">
                                    <a href="#" class="btn-def bnt-2 small">Participate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-upcomming shadow-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sue-pic">
                                    <img src="../../assets/Frontoffice/img/event/sue-03.png" alt="">
                                </div>
                                <div class="sue-date-time text-center">
                                    <span>27 Mar <br> 2021</span>
                                    <span>08.10 pm</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5">
                                <div class="uc-event-title">
                                    <div class="uc-icon"><i class="zmdi zmdi-globe-alt"></i></div>
                                    <a href="#">Update Design & Ux Support</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="venu-no">
                                    <p>Vanue : Hall No 2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="upcomming-ticket text-center">
                                    <a href="#" class="btn-def bnt-2 small">Participate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-upcomming shadow-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sue-pic">
                                    <img src="../../assets/Frontoffice/img/event/sue-04.png" alt="">
                                </div>
                                <div class="sue-date-time text-center">
                                    <span>29 Mar <br> 2021</span>
                                    <span>06.10 pm</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5">
                                <div class="uc-event-title">
                                    <div class="uc-icon"><i class="zmdi zmdi-globe-alt"></i></div>
                                    <a href="#">Update Design & Ux Support</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="venu-no">
                                    <p>Vanue : Hall No 2</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="upcomming-ticket text-center">
                                    <a href="#" class="btn-def bnt-2 small">Participate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="all-events uppercase text-center" href="#">All Events<i
                        class="zmdi zmdi-spinner"></i></a>
            </div>
        </div>
    </div>
</div>