 <!--header-top-start-->
 <div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 d-none d-md-block">
                <div class="phone-email">
                    <div class="phone"> <i class="zmdi zmdi-phone"></i>+019 (88) 25184203 </div>
                    <div class="email"> <a href="mailto:eventflow@gmail.com"><i
                                class="zmdi zmdi-email-open"></i>eventflow</a> </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <!-- If user is logged in -->
                <div *ngIf="isLoggedIn" class="login-register">
                    <div class="login">
                        <a href="/login" (click)="logout()"><i class="zmdi zmdi-account"></i>Logout</a>
                    </div>
                </div>
            
                <!-- If user is not logged in -->
                <div *ngIf="!isLoggedIn" class="login-register">
                    <div class="login">
                        <a href="/login"><i class="zmdi zmdi-account"></i>Login</a>
                    </div>
                    <div class="register">
                        <a href="/register"><i class="zmdi zmdi-accounts-add"></i>Register</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--header-top-end-->